*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.big-header{
    background-color: rgb(39, 12, 52);
    padding: 2% 10%;
    background-image: url("images/galaxy-bg.jpg");
    background-size: cover;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.left-links,.right-links{
    list-style-type: none;
    display: flex;
    align-items: flex-start;
}
.left-links li a,.right-links li a{
    text-decoration: none;
    color: white;
}
.left-links li a{
  font-size: 24px;
  font-weight: bolder;
}
.right-links{
    gap: 15px;
}
.right-links li a{
    transition: 0.3s;
}
.right-links li a:hover{
    font-size: 25px;
    
  }
.info-wrapper{
    color: white;
    display: flex;
    justify-content: space-between;
    
}
.hero{
    font-size: 48px;
    font-weight: bolder;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}
.info button{
    background-color: rgb(65, 18, 91);
    color: white;
    width: 100px;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}
.info-image{
    
    min-width: 350px;
    height: auto;
    flex-grow:1;
    flex-shrink: 0;
    flex-basis: 0;
    
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    background-color: rgb(39, 12, 52);
    background-image: url("images/galaxy-bg.jpg");
    background-size: cover;
}